/*Código armado por La Foca Loca S.A. No modificar*/
body{
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}

ul {
  padding-left: 0;
  list-style: none;
  color: black;
  font-style:oblique;
  font-size: 18px;

}

li {
  padding: 5px 0;
  animation: fadein 5s;
}

li::before {
  content: "• ";
  color: black;
}

.col-40 h1 {
  font-size: 25px;
  color: red;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}

.col-40 {
  background: white;
  padding: 30px;
}

.col-60 {
  background:	indianred;
  
}

#flecha{
  font-size: 35px;
  font-style: bold;
  color: indigo;
}

.texto-centrado {
  text-align: center;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/*Lo nuevo*/

.col-40{
  width:40%;
}

.col-60{
  width:60%;
}

#juego {
  height:600px;
  width:600px;
}

.partes{
  border: 1px solid black;
  float: left;
  width: 33%;
  height: 33%;
}

.partes img{
  width:100%;
}

#titulo {
  text-align: center;
  background-color: none;

}

#footer {

  font-family: 'Kavivanar', cursive;
  font-size: 10px;
  color: black;
}


#instrucciones h2{

   text-align: center;
   text-decoration-line: underline;


}


#objetivo h2{

   text-align: center;
   text-decoration-line: underline;


}

#ultimo-mov h2{

   text-align: center;
   font-size: 17px;

}
